rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /farmers/{uid} {
      allow read, write: if true;
    }
    match /claims/{claimId} {
      allow read, write: if true;
    }
    match /applications/{uid}/user_applications/{appId} {
      allow read, write: if true;
    }
  }
}
